---
import Hero from '../components/Hero';
import Tags from '../components/Tags';
import Carousels from '../components/Carousels';
---

<html lang='en'>
    <head>
        <meta charset='utf-8'/>
        <link
            rel='icon'
            type='image/svg+xml'
            href='/favicon.svg'
        />
        <meta
            name='viewport'
            content='width=device-width'
        />
        <meta
            name='generator'
            content={Astro.generator}
        />
        <title>Astro</title>
    </head>
    <body>
        <main>
            <div class='bg-background relative z-10'>
                <Hero client:load/>
                <Tags client:load/>
            </div>
            <Carousels client:only='react'/>
        </main>
    </body>
</html>
