---
import Hero from '../components/Hero';
import Tags from '../components/Tags';
import Carousels from '../components/Carousels';
import BaseLayout from '../layouts/BaseLayout.astro';
---


<BaseLayout>
    <div class='bg-background relative z-10'>
        <Hero client:load />
        <Tags client:load />
    </div>
    <Carousels client:only='react' />
</BaseLayout>
