---
import Button from '../components/Button';
import Container from '../components/Container';
import Hero from '../components/Hero';
import Tags from '../components/Tags';
import Carousel from '../components/Carousel';
import SmallCarouselAnimated from '../components/SmallCarouselAnimated';
---

<html lang='en'>
    <head>
        <meta charset='utf-8'/>
        <link
            rel='icon'
            type='image/svg+xml'
            href='/favicon.svg'
        />
        <meta
            name='viewport'
            content='width=device-width'
        />
        <meta
            name='generator'
            content={Astro.generator}
        />
        <title>Astro</title>
    </head>
    <body>
        <main>
            <div class='bg-background relative z-10'>
                <Hero client:load/>
                <Tags client:load/>
            </div>
            <Carousel client:only='react'/>
            <SmallCarouselAnimated client:load/>
            <div class='h-[100vh] bg-background text-white py-36 text-6xl'>Bottom</div>
        </main>
    </body>
</html>
