---
import '../styles/global.css';
import '@radix-ui/themes/styles.css';
import Navbar from '../components/Navbar/Navbar';
import { Theme } from '@radix-ui/themes';
import { Astro } from 'astro/env';

const { ...props } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link
            rel='icon'
            type='image/svg+xml'
            href='/favicon.svg'
        />
        <meta
            name='viewport'
            content='width=device-width'
        />
        <meta
            name='generator'
            content={Astro.generator}
        />
        <title>Kate Weber</title>
    </head>
    <body>
        <Theme>
            <main>
                <Navbar client:load />
                <slot />
            </main>
        </Theme>
    </body>
</html>
